In [1]:
import sqlite3
import pandas as pd

In [2]:
file_sqlite = './data.sqlite'
conn = sqlite3.connect(file_sqlite)

In [3]:
df = pd.read_sql_query('select * from dairy_reports', conn)
df

Empty DataFrame
Columns: [id, date, in_party, out_party, standing, leaf_m, leaf_a, dialogue, support, workon_join, join, akahata_h, akahata_n, support_member, ask_favor, branch_id, created_at]
Index: []

In [4]:
conn.close()

In [5]:
df

Empty DataFrame
Columns: [id, date, in_party, out_party, standing, leaf_m, leaf_a, dialogue, support, workon_join, join, akahata_h, akahata_n, support_member, ask_favor, branch_id, created_at]
Index: []

In [6]:
df['date'] = pd.to_datetime(df['date'])
df.sort_values(by='date', ascending=False)

Empty DataFrame
Columns: [id, date, in_party, out_party, standing, leaf_m, leaf_a, dialogue, support, workon_join, join, akahata_h, akahata_n, support_member, ask_favor, branch_id, created_at]
Index: []

In [7]:
df[df['branch_id']==1]

Empty DataFrame
Columns: [id, date, in_party, out_party, standing, leaf_m, leaf_a, dialogue, support, workon_join, join, akahata_h, akahata_n, support_member, ask_favor, branch_id, created_at]
Index: []

In [8]:
type(df.sum())

C:\Users\xta-u\Anaconda3\envs\flaskenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

pandas.core.series.Series

In [9]:
df.sum()['in_party']

C:\Users\xta-u\Anaconda3\envs\flaskenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0.0

In [18]:
df_sum = df.sum()
df_sum['in_party']

C:\Users\xta-u\Anaconda3\envs\flaskenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

15